<div>
    Todo listo para trabajar con websockets
    <div>
        Aqui deberian mostrarse todos los datos de los productos
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>