<div>
    {{#if this.name}}
    <h2 id="userId"> Bienvenido/a {{name}}</h2>
    {{/if}}
    <h3>Cambia tu contraseña:</h3>
    <form id="send-password">
        <label>Contraseña:</label>
        <input name="new-password" type="password">
        <br/>
        <label>Repite la contraseña:</label>
        <input name="repeat" type="password">
        <br/>
        <input type="submit">
    </form>
    <p id="message"></p>
</div>
<script src="/js/changePassword.js"></script>