<div>
    <p id="userId"></p>
    <h1>Cambia tu contrase単a:</h1>
    <form id="sendEmailPassword">
        <label>Contrase単a:</label>
        <input name="password" type="password">
        <br/>
        <label>Repite la contrase単a:</label>
        <input name="repeat" type="password">
        <br/>
        <input type="submit">
    </form>
    <p>En caso de existir recibiras un correo para cambiar tu contrase単a.</p>
</div>
{{!-- <script src="/js/forgotPassword.js"></script> --}}