<div>
    <h1>¿Olvidaste tu contraseña?</h1>
    <p>Restauratala mediante tu correo electronico.</p>
    <form id="sendEmailPassword">
        <label>Email</label>
        <input name="email" type="email">
        <br/>
        <input type="submit">
    </form>
    <p>En caso de existir recibiras un correo para cambiar tu contraseña.</p>
    <p id="sendMessage"></p>
</div>
<script src="/js/forgotPassword.js"></script>