<div>
    <h1>Inyeccion de cookies</h1>
    <form action="" id="cookieForm">
        <label for="name">Nombre</label>
        <input type="text" name="name">
        <label for="email">Correo</label>
        <input type="text" name="email">
        <input type="submit" value="Enviar">
    </form>

    <button onclick="getCookie()"> Obtener Cookie</button>
</div>

<script src="/js/cookieSetter.js"></script>